<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href='/static/carhome/bs/css/bootstrap.css'>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/carhome/bs/js/bootstrap.min.js"></script>
    <style>
        #T {
            color: blank;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            margin-top: 60px;
            letter-spacing: 1px;
        }

        .container {
            margin-top: 50px;
        }

        #avatar_img {
            margin-left: 20px;
        }

        #avatar {
            display: none;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >当前位置:</a>
            <a class="navbar-brand" href="/index" style="color: #2aabd2">首页</a>
            <a class="navbar-brand" > >>&nbsp&nbsp修改密码</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" > 西邮汽车</a>
        </ul>
    </div>
</nav>
<div id="T">西邮汽车修改密码</div>
<div class="container">
    <div class='row'>
        <div class="col-md-6 col-lg-offset-3">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="old_pwd">原密码</label>
                    <input type="password" id="old_pwd" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pwd">新密码</label>
                    <input type="password" id="pwd" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pwd">确认密码</label>
                    <input type="password" id="again_pwd" class="form-control">
                </div>

                <div class="form-group">
                    <label for="pwd">验证码</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="valid_code" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <img width="270" height="40" id="valid_code_img" src="/get_validCode_img/" alt="">
                        </div>
                    </div>
                </div>

                <div>
                </div>
                <input type="button" class="btn btn-success change_btn " value="确定"><span class="error"></span>
            </form>

        </div>
    </div>
</div>
<br><br><br><br>
<div class="panel panel-footer" style="position: relative;bottom: 0px">
    <h5 style="text-align: center;">西邮汽车 为您推荐汽车的最好网站</h5>
    <h5 style="text-align: center">© 2021 西邮汽车 版权所有 杜方圆</h5>
    <div style="text-align: center">
        <a class="footimg" href="https://www.12377.cn" target="_blank" style="margin-right: 10px">
            <img src="//s.autoimg.cn/www/site/index/images/copyright-4.png" alt="中国互联网举报中心" height="52">
        </a>
        <a class="footimg" href="http://www.bjjubao.org" target="_blank" style="margin-right: 10px">
            <img src="//s.autoimg.cn/www/site/index/images/copyright-5.png" alt="北京互联网举报中心" height="52">
        </a>
        <a class="footimg" href="http://www.12377.cn/node_548446.htm" target="_blank" style="margin-right: 10px">
            <img src="//s.autoimg.cn/www/site/index/images/copyright-6.png" alt="网络举报APP下载" height="52">
        </a>
        <a class="footimg" href="http://www.12377.cn/" target="_blank" style="margin-right: 10px">
            <img src="//s.autoimg.cn/www/site/index/images/copyright-7.png" alt="网上有害信息举报专区" height="52">
        </a>
    </div>
</div>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script>
    /////验证码图片刷新
    $("#valid_code_img").click(function () {
        $(this)[0].src += "?"
    })

    //登录验证
    $(".change_btn").click(function () {
        $.ajax({
            url: "",//走当前路径
            type: "post",
            data: {
                old_pwd: $("#old_pwd").val(),
                pwd: $("#pwd").val(),
                again_pwd:$("#again_pwd").val(),
                valid_code: $("#valid_code").val(),
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
            },
            success: function (data) {
                if (data.success) {

                    alert("密码修改成功！")
                    location.href = "/logout/"
                } else {
                    $(".error").text(data.msg).css({"color": "red", "marginLeft": "10px"})

                    setTimeout(function () {
                        $(".error").text("")
                    }, 2650)
                }
            }
        })
    })
</script>
</body>
</html>